<a href="https://colab.research.google.com/github/mizutokage/Kaggle/blob/main/Titanic/xgb_bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [142]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.model_selection import KFold

import xgboost as xgb

In [143]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

train = train[['PassengerId', 'Survived', 'Pclass',
         'Age', 'Sex', 'SibSp', 
         'Parch', 'Fare', 'Embarked']]

test = test[['PassengerId', 'Pclass',
         'Age', 'Sex', 'SibSp',
         'Parch', 'Fare', 'Embarked']]

In [144]:
train = train.fillna(train['Age'].mean())
train['Sex'][train['Sex'] == 'male'] = 0
train['Sex'][train['Sex'] == 'female'] = 1
train['Embarked'][train['Embarked'] == 'C'] = 0
train['Embarked'][train['Embarked'] == 'S'] = 1
train['Embarked'][train['Embarked'] == 'Q'] = 2

test['Sex'][test['Sex'] == 'male'] = 0
test['Sex'][test['Sex'] == 'female'] = 1
test['Embarked'][test['Embarked'] == 'C'] = 0
test['Embarked'][test['Embarked'] == 'S'] = 1
test['Embarked'][test['Embarked'] == 'Q'] = 2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

In [145]:
train.head()

   PassengerId  Survived  Pclass   Age Sex  SibSp  Parch     Fare Embarked
0            1         0       3  22.0   0      1      0   7.2500        1
1            2         1       1  38.0   1      1      0  71.2833        0
2            3         1       3  26.0   1      0      0   7.9250        1
3            4         1       1  35.0   1      1      0  53.1000        1
4            5         0       3  35.0   0      0      0   8.0500        1

In [146]:
test.head()

   PassengerId  Pclass   Age Sex  SibSp  Parch     Fare Embarked
0          892       3  34.5   0      0      0   7.8292        2
1          893       3  47.0   1      1      0   7.0000        1
2          894       2  62.0   0      0      0   9.6875        2
3          895       3  27.0   0      0      0   8.6625        1
4          896       3  22.0   1      1      1  12.2875        1

In [147]:
from sklearn import preprocessing
lbl = preprocessing.LabelEncoder()
train['Sex'] = lbl.fit_transform(train['Sex'].astype(int))
train['Embarked'] = lbl.fit_transform(train['Embarked'].astype(int))
test['Sex'] = lbl.fit_transform(test['Sex'].astype(int))
test['Embarked'] = lbl.fit_transform(test['Embarked'].astype(int))

In [148]:
train.head()

   PassengerId  Survived  Pclass   Age  Sex  SibSp  Parch     Fare  Embarked
0            1         0       3  22.0    0      1      0   7.2500         1
1            2         1       1  38.0    1      1      0  71.2833         0
2            3         1       3  26.0    1      0      0   7.9250         1
3            4         1       1  35.0    1      1      0  53.1000         1
4            5         0       3  35.0    0      0      0   8.0500         1

In [149]:
test.head()

   PassengerId  Pclass   Age  Sex  SibSp  Parch     Fare  Embarked
0          892       3  34.5    0      0      0   7.8292         2
1          893       3  47.0    1      1      0   7.0000         1
2          894       2  62.0    0      0      0   9.6875         2
3          895       3  27.0    0      0      0   8.6625         1
4          896       3  22.0    1      1      1  12.2875         1

In [150]:
seed = 88
X = train.drop(['Survived'], axis=1)
y = train['Survived']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=seed)
X

     PassengerId  Pclass        Age  Sex  SibSp  Parch     Fare  Embarked
0              1       3  22.000000    0      1      0   7.2500         1
1              2       1  38.000000    1      1      0  71.2833         0
2              3       3  26.000000    1      0      0   7.9250         1
3              4       1  35.000000    1      1      0  53.1000         1
4              5       3  35.000000    0      0      0   8.0500         1
..           ...     ...        ...  ...    ...    ...      ...       ...
886          887       2  27.000000    0      0      0  13.0000         1
887          888       1  19.000000    1      0      0  30.0000         1
888          889       3  29.699118    1      1      2  23.4500         1
889          890       1  26.000000    0      0      0  30.0000         0
890          891       3  32.000000    0      0      0   7.7500         2

[891 rows x 8 columns]

In [151]:
from bayes_opt import BayesianOptimization

In [152]:
def xgb_evaluate(min_child_weight, subsample, colsample_bytree, max_depth):
      params = {'metric': 'error',
              'objective':'binary:logistic',
              'n_estimators':50000,
              'random_state':42,
              'boosting_type':'gbdt',
              'learning_rate':0.01,              
              'min_child_weight': int(min_child_weight),
              'max_depth': int(max_depth),
              'colsample_bytree': colsample_bytree,
              'subsample': subsample,
             }

      cls = xgb.XGBClassifier()
      cls.set_params(**params)
      cls.fit(X_train,
              y_train,
              early_stopping_rounds=50,
              eval_set=[(X_test, y_test)],
              eval_metric='error',
              verbose=0)
      
      pred = cls.predict(X_test)
      score = accuracy_score(y_test, pred)
      return score

In [153]:
xgb_bo = BayesianOptimization(xgb_evaluate,
                              {'min_child_weight': (1, 20),
                               'subsample': (.1, 1),
                               'colsample_bytree': (.1, 1),
                               'max_depth': (1, 50)},
                               random_state=10)

In [154]:
xgb_bo.maximize(init_points=15, n_iter=50, acq='ei')

|   iter    |  target   | colsam... | max_depth | min_ch... | subsample |
-------------------------------------------------------------------------
|  1        |  0.7724   |  0.7942   |  2.017    |  13.04    |  0.7739   |
|  2        |  0.7985   |  0.5487   |  12.02    |  4.763    |  0.7845   |
|  3        |  0.7873   |  0.2522   |  5.329    |  14.02    |  0.9581   |
|  4        |  0.7687   |  0.1036   |  26.1     |  16.44    |  0.6513   |
|  5        |  0.7724   |  0.7496   |  15.3     |  18.44    |  0.7431   |
|  6        |  0.7836   |  0.5883   |  7.966    |  8.093    |  0.7067   |
|  7        |  0.7761   |  0.4976   |  22.27    |  12.74    |  0.5618   |
|  8        |  0.7724   |  0.6854   |  30.45    |  16.3     |  0.5695   |
|  9        |  0.7985   |  0.9178   |  16.64    |  2.719    |  0.3706   |
|  10       |  0.7575   |  0.2026   |  41.61    |  1.891    |  0.6637   |
|  11       |  0.7985   |  0.5928   |  41.15    |  4.78     |  0.8712   |
|  12       |  0.8097   |  0.4165   |  37.98    |  6.623    |  0.8955   |
|  13       |  0.7761   |  0.393    |  9.086    |  8.458    |  0.1841   |
|  14       |  0.7836   |  0.839    |  8.406    |  8.298    |  0.9498   |
|  15       |  0.7724   |  0.9889   |  23.36    |  16.7     |  0.3262   |
|  16       |  0.7724   |  0.8334   |  49.79    |  19.01    |  0.8347   |
|  17       |  0.791    |  0.9712   |  42.52    |  11.44    |  0.9773   |
|  18       |  0.791    |  0.4808   |  2.337    |  1.061    |  0.9172   |
|  19       |  0.7799   |  0.862    |  35.52    |  6.211    |  0.9807   |
|  20       |  0.791    |  0.1285   |  40.26    |  7.248    |  0.1997   |
|  21       |  0.7463   |  0.1525   |  10.75    |  1.128    |  0.9842   |
|  22       |  0.7761   |  0.1      |  39.34    |  20.0     |  1.0      |
|  23       |  0.8022   |  0.3118   |  16.58    |  5.611    |  0.9632   |
|  24       |  0.7799   |  0.2884   |  2.525    |  19.84    |  0.7993   |
|  25       |  0.7724   |  0.9587   |  1.015    |  4.845    |  0.9015   |
|  26       |  0.8022   |  0.3635   |  49.94    |  2.843    |  0.9372   |
|  27       |  0.7799   |  0.1484   |  49.56    |  6.118    |  0.9893   |
|  28       |  0.791    |  0.14     |  38.91    |  9.768    |  0.9477   |
|  29       |  0.7724   |  0.9694   |  31.11    |  19.73    |  0.9026   |
|  30       |  0.7799   |  0.9487   |  39.95    |  6.748    |  0.9342   |
|  31       |  0.7799   |  0.1265   |  44.56    |  14.82    |  0.9707   |
|  32       |  0.7761   |  0.1277   |  37.82    |  5.136    |  0.8944   |
|  33       |  0.7463   |  0.1466   |  45.78    |  3.798    |  0.7931   |
|  34       |  0.6754   |  0.2027   |  34.2     |  9.206    |  0.1491   |
|  35       |  0.653    |  1.0      |  8.332    |  20.0     |  0.1      |
|  36       |  0.791    |  1.0      |  17.14    |  13.21    |  1.0      |
|  37       |  0.653    |  0.1      |  50.0     |  12.4     |  0.1      |
|  38       |  0.7724   |  1.0      |  44.87    |  20.0     |  1.0      |
|  39       |  0.7985   |  1.0      |  22.56    |  1.0      |  1.0      |
|  40       |  0.7985   |  1.0      |  21.53    |  5.526    |  1.0      |
|  41       |  0.7687   |  0.1393   |  20.27    |  19.35    |  0.9585   |
|  42       |  0.7724   |  1.0      |  39.86    |  16.26    |  1.0      |
|  43       |  0.8134   |  0.8581   |  19.31    |  1.808    |  0.9944   |
|  44       |  0.653    |  0.1981   |  1.091    |  18.09    |  0.1576   |
|  45       |  0.7724   |  0.2342   |  2.556    |  9.133    |  0.9578   |
|  46       |  0.7799   |  0.9849   |  25.95    |  14.61    |  0.9655   |
|  47       |  0.7985   |  0.9683   |  6.28     |  1.301    |  0.1113   |
|  48       |  0.7724   |  1.0      |  1.0      |  1.0      |  0.1      |
|  49       |  0.7761   |  0.9345   |  20.43    |  2.359    |  0.1082   |
|  50       |  0.7873   |  0.1      |  19.28    |  15.88    |  1.0      |
|  51       |  0.7873   |  1.0      |  18.2     |  8.27     |  1.0      |
|  52       |  0.7836   |  0.2914   |  49.85    |  19.94    |  0.9364   |
|  53       |  0.8097   |  0.8741   |  49.99    |  1.136    |  0.1357   |
|  54       |  0.7948   |  0.1      |  4.27     |  3.082    |  0.1      |
|  55       |  0.7799   |  0.9386   |  6.589    |  4.165    |  0.972    |
|  56       |  0.7799   |  0.815    |  50.0     |  3.987    |  0.1742   |
|  57       |  0.7948   |  0.3347   |  49.93    |  1.014    |  0.9952   |
|  58       |  0.7687   |  0.1007   |  44.2     |  10.17    |  0.96     |
|  59       |  0.7724   |  1.0      |  3.449    |  17.98    |  1.0      |
|  60       |  0.7948   |  0.9158   |  18.52    |  3.353    |  0.9709   |
|  61       |  0.75     |  0.1133   |  17.61    |  1.363    |  0.9659   |
|  62       |  0.7836   |  0.8098   |  14.57    |  6.002    |  0.7593   |
|  63       |  0.7799   |  0.1305   |  13.79    |  14.99    |  0.9647   |
|  64       |  0.7724   |  0.8197   |  26.4     |  19.26    |  0.9396   |
|  65       |  0.7799   |  0.1      |  37.88    |  7.35     |  1.0      |
=========================================================================

In [157]:
optimized_params = xgb_bo.max['params']
optimized_params['max_depth'] = int(optimized_params['max_depth'])
optimized_params

{'colsample_bytree': 0.8581395042489772,
 'max_depth': 19,
 'min_child_weight': 1.8082255658216937,
 'subsample': 0.9943584053999677}

In [158]:
fixed_params = {'metric':'error',
                'objective':'binary:logistic',
                'n_estimators':50000,
                'random_state':seed,
                'booster':'gbtree',
                'learning_rate':0.01}

In [159]:
cls = xgb.XGBClassifier()
cls.set_params(**fixed_params, **optimized_params)
cls.fit(X_train,
        y_train,
        early_stopping_rounds=50,
        eval_set=[(X_test, y_test)],
        eval_metric='error',
        verbose=0)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=0.8581395042489772, gamma=0,
              learning_rate=0.01, max_delta_step=0, max_depth=19,
              metric='error', min_child_weight=1.8082255658216937, missing=None,
              n_estimators=50000, n_jobs=1, nthread=None,
              objective='binary:logistic', random_state=88, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=1, seed=None, silent=None,
              subsample=0.9943584053999677, verbosity=1)

In [160]:
pred = cls.predict(test)
PassengerId = np.array(test['PassengerId']).astype(int)

sol = pd.DataFrame(pred, PassengerId, columns=['Survived'])
sol.to_csv("my_pred.csv", index_label=["PassengerId"])